@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('footer.css');
@import url('header.css');

:root{
    --primary-text: #202020;

    --primary-btn: #3460FF;
    --med-fidelity: #EEEEEE;
    --low-fidelity: #f8f8f8;

    --primary-btn-hover: #0037ff;

    --normal-text: 0.85rem;
    --small-text: 0.7rem;

    --title-main: 4rem;

    --main-padding: 48px 10%;
    --vertical-margin: 80px;

    --box-media: 450px;
}

*{
    scroll-behavior: smooth;
}

::selection {
    background-color: #adadad; /* Warna latar belakang saat teks di-blok */
    color: var(--primary-text); /* Warna teks saat di-blok */ 
}

body{
    margin: 0;
    background-color: #fff;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 8px;
}

.bold{
    font-weight: bold;
}

.align-center{
    align-items: center !important;
}

.margin-0{
    margin: 0 !important;
}

.flex-col{
    flex-direction: column !important;
}

.main-padding{
    padding: var(--main-padding);
}

.flex-100{
    display: flex;
    width: 100%;
}

.light-text{
    font-weight: 300;
    margin: 0;
    font-size: calc(var(--normal-text) * 0.7);
}

.btn{
    font-size: var(--normal-text);
    padding: 9px 26px;
    max-height: min-content;
    border-radius: 8px;
    border: 0;
    font-weight: 600;
    cursor: pointer;
    min-width: 100px;
    transition-duration: 100ms;
}

.btn-wrap{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.btn-primary{
    background-color: var(--primary-btn);
    border: 1px solid var(--primary-btn);
    color: #fff;
}
.btn-primary:hover{
    background-color: var(--primary-btn-hover);
}

.btn-secondary{
    background-color: transparent;
    border: 1px solid var(--primary-text);
    color: var(--primary-text);
}
.btn-secondary:hover{
    opacity: 0.5;
}

.btn-special{
    background-color: transparent;
    border: 1px solid var(--primary-text);
    color: var(--primary-text);
    font-size: 1.05rem;
    border-radius: 120px;
    font-weight: 700;
}


@media (max-width: 355px){
    .btn{
        font-size: calc(var(--normal-text)*0.9);
        padding: 9px 16px;
    }
}