html,
body {
    font-family: 'Inter', sans-serif;
    scroll-behavior: smooth;
    margin: 0;
}

body {
    background-image: url(sky-blue.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    color: #f2f2f2;
    letter-spacing: 0.05em;
    height: 100vh;
}

.allContent {
    background-image: url(sky-blue.png);
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-size: auto 100%;
    padding: 24px 0;
}

.glassMorph {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
    border-radius: 10px;
}

.input-wrap {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: 0 0 12px 0;
}

.input-search {
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    padding: 16px 24px;
    margin: 0 12px 0 0;
    letter-spacing: 2px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.input-search::placeholder {
    color: #d9d9d9;
}


.button-search {
    font-size: 1.2rem;
    font-style: normal;
    padding: 16px;
    color: inherit;
    border: none;
    outline: none;
    margin: 0 0 0 12px;
    height: auto;
    width: auto;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.button-search:hover, .input-search:hover{
    background-color: rgba(255, 255, 255, 0.3);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.20);
    transition-duration: 100ms;
}

.suggestion-search-wrap {
    position: absolute;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(10px);
    width: 265px;
    height: auto;
    z-index: 2;
    transform: translateY(55px);
    border-radius: 10px;
}



.suggestion-search {
    cursor: pointer;
    width: auto;
    margin: 0;
    padding: 14px 16px;
    text-align: left;
}

.suggestion-search:nth-child(1) {
    border-radius: 10px 10px 0 0;
}

.suggestion-search:nth-last-child(1) {
    border-radius: 0 0 10px 10px;
}

.suggestion-search:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 100ms;
}



.content-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 12px 0;
}

.title-weather {
    font-size: 1.5rem;
    letter-spacing: inherit;
    margin: 60px 0 5px 0;
}

.detail-location {
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    letter-spacing: 0.1em;
    margin: 5px;
    line-height: 150%;
}

.lar-weather-icon {
    width: 80px;
}

.sub-info-wrap {
    text-align: center;
    font-style: normal;
}

.lar-info {
    font-size: 2.8rem;
    margin: 0 0 5px 0;
    font-weight: 700;
}

.md-info {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0 0 5px 0;
}

.md-sub-info {
    font-size: 1.1rem;
    font-weight: 400;
    margin: 0;
    letter-spacing: 0.05em;
}

.info-wrap {
    display: grid;
    grid-template-columns: auto auto;
    gap: 54px 36%;
    margin: 24px 0 60px 0;
    justify-content: center;
}

.sub-content-wrap {
    margin: 12px 0;
    display: grid;
    gap: 24px;
    width: 80%;
    grid-template-columns: auto auto;
    justify-content: normal;
    justify-items: center;
}

.sub-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    max-height: 280px;
}

.date-forecast {
    font-size: 0.9rem;
    margin: 20px 0;
    text-transform: capitalize;
    font-style: normal;
    font-weight: 400;
    letter-spacing: inherit;
}

.title-forecast {
    font-weight: 700;
    font-style: normal;
    letter-spacing: inherit;
    text-transform: capitalize;
    margin: 0;
}

.sm-weather-icon {
    width: 56px;
}

.degree-forecast {
    font-size: 1rem;
    font-weight: 700;
    letter-spacing: inherit;
    margin: 0 0 10px;
}

.timelist-forecast-wrap {
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 400;
    letter-spacing: inherit;
}

.forecast-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    margin: 0 0 20px 0;
}

.timelist-title{
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0 0 10px 0;
    letter-spacing: 0.1em;
}

.time-hourly-forecast {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.subtitle-hourly-forecast {
    font-size: 0.9rem;
    line-height: 150%;
    text-align: center;
    margin: 5px 0 12px 0;
}

.sm-button-forecast {
    width: 100%;
    margin: 0;
    padding: 16px 0;
    text-align: center;
    border-radius: 0 0 10px 10px;
    cursor: default;
    letter-spacing: inherit;
    font-weight: 300;
}

.sm-button-forecast:hover {
    background-color: rgba(255, 255, 255, 0.05);
    transition-duration: 100ms;
}

.sm-button-forecast:active {
    background-color: rgba(255, 255, 255, 0.2);
    transition-duration: 100ms;
}


/* SCROLLBAR */

.forecast-wrap::-webkit-scrollbar {
    width: 14px;
}

.forecast-wrap::-webkit-scrollbar-track {
    background-color: transparent;
}

.forecast-wrap::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 6px solid transparent;
    background-clip: content-box;
}

.forecast-wrap::-webkit-scrollbar-thumb:hover {
    background-color: #c7c7c7;
    transition-duration: 200ms;
}




@media screen and (width <=354px) {
    .sub-content-wrap {
        grid-template-columns: auto;
    }

    .info-wrap {
        gap: 12px 5px;
    }
}

@media screen and (width <=576px) {
    .allContent {
        background-size: auto 100%;
    }

    .sub-content-wrap,
    .input-wrap,
    .content-wrap {
        width: 90%;
    }
}

@media (min-width: 576px) {
    .allContent {
        background-size: auto 100%;
    }

    .sub-content-wrap,
    .input-wrap,
    .content-wrap {
        width: 60%;
    }

    .sm-button-forecast {
        cursor: default;
    }
}

@media (min-width: 668px) {
    .allContent {
        background-size: auto 100%;
    }

    .sub-content-wrap,
    .input-wrap,
    .content-wrap {
        width: 55%;
    }
}

@media (min-width: 992px) {
    .allContent {
        background-size: auto 100%;
    }

    .sub-content-wrap,
    .input-wrap,
    .content-wrap {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .allContent {
        background-size: auto 100%;
    }

    .sub-content-wrap,
    .input-wrap,
    .content-wrap {
        width: 40%;
    }
}

footer {
    margin: 50px 0 0 0;
    font-size: 0.9rem;
    line-height: 180%;
    letter-spacing: inherit;
    font-weight: normal;
    text-align: center;
}

.link-text {
    color: #fff;
}

.button-support {
    padding: 6px 12px;
    background-color: #ffbf00;
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 400;
    border: none;
    outline: none;
    cursor: pointer;
}

.dot-pack{
    display: flex;
    font-size: 0.9rem;
    font-weight: bolder;
    flex-direction: row;
    align-items: center;
    font-weight: normal;
    letter-spacing: 1px;
  }
  .dot{
    width: 4px;
    height: 4px;
    background-color: #fff;
    border-radius: 50%;
    margin: 0 2px;
  }
  .dot:nth-child(1){
    animation: .5s linear .1s infinite loading;
  }
  .dot:nth-child(2){
    animation: .5s linear .2s infinite loading;
  }
  .dot:nth-child(3){
    animation: .5s linear .3s infinite loading;
  }
  @keyframes loading{
    0%{
      transform: translateY(0);
    }
    50%{
      transform: translateY(-10px);
    }
    100%{
      transform: translateY(0);
    }
  }